 @section Scripts {
     <script>
         // gọi hàm từ site.js
         renderCart();
         const btnCheckout = document.getElementById("btnCheckout");
         if (getCart().length == 0) {
            btnCheckout.innerHTML = "Cart is empty";
            btnCheckout.classList.add("disabled");

         }
     </script>
 }

 @{
    ViewData["Title"] = "Cart";
    }

<div class="container cart fade-in">
    <h3>Your Cart</h3>
    <div class="row">
        <div class="col-md-8">
            <ul id="cart-items">
                
            </ul>
        </div>
        <div class="col-md-3">
            <div id="order-summary">
                <p class="d-flex align-items-center justify-content-between order-total">Total: $ <span id="total-price">1440</span></p>
                @{
                    var isLoggedIn = !string.IsNullOrEmpty(Context.Request.Cookies["accessToken"]);

                    if (isLoggedIn)
                    {
                                    <a class="btn btn-gradient-blue-purple w-100 mt-2" id="btnCheckout" asp-action="Checkout" asp-controller="Cart">Checkout</a>

                    }
                    else
                    {
                        <a class="btn btn-gradient-blue-purple w-100 mt-2" href="@Url.Action("Login", "Auth", new { returnUrl = "/cart/checkout" })">Please login to checkout</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
