<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MechkeyShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MechkeyShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
            <div class="container d-flex align-items-center justify-content-between">
                <a class="header__logo text-gradient-red-orange" asp-controller="Home" asp-action="Index">MechkeyShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
                    <!-- Navbar center -->
                    <ul class="header__list">
                        <li class="header__nav-item">
                            <a class="header__nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="header__nav-item hasSubmenu">
                            <span class="header__nav-link">Category</span>

                            <div class="sub-menu">
                                <ul>
                                    <li class="sub-item">
                                        <a class="sub-link">Kit</a>
                                    </li>
                                    <li class="sub-item">
                                        <a class="sub-link">Switch</a>
                                    </li>
                                    <li class="sub-item">
                                        <a class="sub-link">Stabilizer</a>
                                    </li >
                                    <li class="sub-item">
                                        <a class="sub-link">Accessories</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" asp-controller="Home" asp-action="Index">Contact</a>
                        </li>
                    </ul>

                    <!-- Authen right -->
                    <div class="d-flex">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="me-2">Hi, @User.Identity.Name</span>
                            <a class="btn btn-outline-danger btn-sm" href="/Auth/Logout">Logout</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary btn-sm me-2 btn-gradient" href="/Auth/Login">Login</a>
                            <a class="btn btn-primary btn-sm" href="/Auth/Register">Register</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MechkeyShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
