@{
    ViewData["Title"] = "Download";
}
<div class="container p-4">
    <h2>Download</h2>
    <p>
        This page is for downloading firmware and software for your keyboard.
    </p>

    <ul>
        <li>Neo65: <a> Json </a> & <a> Firmware </a> </li>
    </ul>
</div>