@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container p-4">
    <h2>@ViewData["Title"]</h2>
    <p>
        This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from MechkeyShop.
    </p>
</div>